---
export interface Props {
  code: number;
  titleJa: string;
  titleEn: string;
  descJa: string;
  descEn: string;
  gradient?: string;
}

const {
  code,
  titleJa,
  titleEn,
  descJa,
  descEn,
  gradient = "var(--primary)",
} = Astro.props;
---

<div class="container">
  <section class="error-content">
    <h1
      class="error-code"
      style={`background: ${gradient}; -webkit-background-clip: text; -webkit-text-fill-color: transparent;`}
    >
      {code}
    </h1>
    <h2>
      <span class="txt-ja">{titleJa}</span>
      <span class="txt-en">{titleEn}</span>
    </h2>
    <p>
      <span class="txt-ja" set:html={descJa} />
      <span class="txt-en" set:html={descEn} />
    </p>
    <div>
      <a href="/">
        <span class="txt-ja">ホームに戻る</span>
        <span class="txt-en">Back to Home</span>
      </a>
    </div>
  </section>
</div>
